.App {
  height: 100%;
}
.TopNav{
  height: 15%;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 0.3vh solid gray;
}
.TopNavMain
{
  color: white;
  width: 50vw;
  font-size: 1.5vw;
}
.TopNavUser{
  width: 50vw;
}
.TopNavUserSignedIn, .TopNavUserSignedOut{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width:3.8rem;
  height:3.8rem;
}
.TopNavUserSignedIn, .TopNavUserSignedOut > *{
  margin-left:1vw;
  margin-right:2vw;
}
.ProfilePicture{
  border-radius: 1rem;
  width:3.8rem;
  height:3.8rem;
}
.MainBody{
  display: flex;
  flex-direction: row;
}
.MainBodySideBar{
  width: 10vw;
  border-right: 0.3vh solid gray;
  padding: 0.5vw;
  font-size: 1.2vw;
} 
.MainBodyContent{
  width: 85vw;
  padding: 1vw;
}
